name: Build SekaiTranslator Installer

permissions:
  contents: write

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install -r requirements.txt
          python -m pip install pyinstaller

      - name: Build SekaiTranslator
        run: |
          python -m PyInstaller main.py --noconsole --name SekaiTranslator

      - name: Build updater
        run: |
          python -m PyInstaller updater.py --noconsole --name updater

      - name: Copy updater into app folder
        run: |
          copy dist\updater\updater.exe dist\SekaiTranslator\updater.exe

      - name: Verify dist folder
        run: |
          dir dist
          dir dist\SekaiTranslator

      - name: Install Inno Setup
        run: |
          choco install innosetup -y

      - name: Build installer
        run: |
          iscc installer.iss || exit 1

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: installer\SekaiTranslator_Setup.exe
